<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .a{
        background-color:#b2fab4 ;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login Module Test!</title>
    
</head>
<body class="a">
    {% block content%}
    {% endblock %}
    <center>
    Click <a class ="button" href="/db/loggedin/">here</a> to go back to loggedin.        
    </center>
</body>
</html>